---
  date: 04/11/2014
---

<%= image_tag("team/agus-thumbnail.jpg", :alt => "Agustín",
  :class => "person-picture img-thumbnail pull-left") %>

<div class="person-desc">
  <h3 class="person-name">Agustín Alba Chicar</h3>

  <div class="person-links">
 <a href="https://www.linkedin.com/in/agustin-dario-alba-chicar-6b269846/" target="_blank">
      <i class="fa fa-linkedin-square"></i>
    </a>
  </div>

  <div class="person-bio">
    <p>
      Agustin is studying Electrical Engineering at the National Technological
      University and is a teaching assistant in Theory of Circuits. He has more
      than five years experience working in software from embedded systems to
      low level communications protocols to web apps.
    </p>
    <p>
      He views programming as a means to improve things and make an impact. Most
      recently he has been contributing algorithms and simulation expertise for
      autonomous vehicles to open source projects.
    </p>
    <p>
      Besides programming he likes being with his family and friends, running
      and playing soccer.
    </p>
  </div>
</div>
