---
  date: 20/10/2014
---

<%= image_tag("team/alexis-thumbnail.jpg", :alt => "alexis",
  :class => "person-picture img-thumbnail pull-left") %>

<div class="person-desc">
  <h3 class="person-name">Alexis Pojomovsky</h3>

  <div class="person-links">
    <a href="https://py.linkedin.com/pub/alexis-pojomovsky/55/953/57b" target="_blank">
      <i class="fa fa-linkedin-square"></i>
    </a>
    <a href="http://www.github.com/apojomovsky" target="_blank">
      <i class="fa fa-github-square"></i>
    </a>
  </div>

  <div class="person-bio">
    <p>
      Alexis is an Electrical Engineer from the National University of Asunción (UNA).
    </p>
    <p>
       While at the university, he was a research assistant at GIEM, a research group
       in the field of electronics and mechatronics.
    </p>
    <p>
       Alexis really enjoys learning new skills and tackling hard problems, which has
       helped him to become proficient in a wide range technologies such as Gazebo
       Simulator, ROS, Python, Docker, among others.
    </p>
    <p>
       Although his main interest lies in the technological field, in his spare time
       he enjoys of taking pictures and playing the guitar.
    </p>
  </div>
</div>
