---
  date: 03/11/2014
---

<%= image_tag("team/fabri-thumbnail.jpg", :alt => "Fabricio",
  :class => "person-picture img-thumbnail pull-left") %>

<div class="person-desc">
  <h3 class="person-name">Fabricio Emder</h3>

  <div class="person-links">
    <a href="https://www.linkedin.com/in/emderfabricio/" target="_blank">
      <i class="fa fa-linkedin-square"></i>
    </a>
  </div>

  <div class="person-bio">
    <p>
      Fabricio has been passionate about robotics from a young age. He loves
      researching new things and tackling challenging projects in robotics. 
      He enjoys sharing his knowledge and passion for robotics and is a
      founding member of the Student Robotics Groups at the National
      University of San Juan. Fabricio is finishing his last year in
      Electronic Engineering. He also teaches robotics at the University of
      La Punta and mentors the high school team for RoboCup.
    </p>
    <p>
      He had been working on projects using ROS and Gazebo simulating real
     robots with custom sensors.
    </p>
    <p>
      In his free time he enjoys reading books, cycling, and hiking.
    </p>
  </div>
</div>
