---
  date: 06/11/2014
---

<%= image_tag("team/flor-thumbnail.jpg", :alt => "Flor",
  :class => "person-picture img-thumbnail pull-left") %>

<div class="person-desc">
  <h3 class="person-name">Florencia Grosso</h3>

  <div class="person-links">
    <a href="https://www.linkedin.com/in/florencia-grosso-a5a54211a" target="_blank">
      <i class="fa fa-linkedin-square"></i>
    </a>
   </div>

  <div class="person-bio">
    <p>
      Florencia is completing her M.S. in Electrical Engineering at the University
      of Buenos Aires. She is a highly motivated quick learner who is eager to
      develop expertise in Android and robotics in general. 
    </p>
    <p>
      She believes that technology is a powerful tool that can be used to improve
      everyday life in all corners of the world.
    </p>
    <p>
      Florencia is passionate about learning new languages as well as meeting new
      cultures. She loves to spend her free time with family and friends, watching
      movies or dancing.
    </p>
  </div>
</div>
