---
  date: 06/11/2014
---

<%= image_tag("team/jaz-thumbnail.jpg", :alt => "Jazmín",
  :class => "person-picture img-thumbnail pull-left") %>

<div class="person-desc">
  <h3 class="person-name">Jazmín Schmunis</h3>

  <div class="person-links">

  </div>

  <div class="person-bio">
    <p>
      Jazmín has a degree in Mathematics from University of Buenos Aires, where she still works 
      as a teaching assistant. After graduating in 2015, she decided it was time to meet the world 
      outside university and learn how to code.
      She loves facing new challenges and finding different ways of combining science and arts.
    </p>

    <p>
     In her free time, she loves dancing, reading, and doing different kinds of handicrafts.
     She may also be a little addicted to taking pictures. Say cheese!
    </p>
  </div>
</div>
