---
  date: 25/10/2014
---

<%= image_tag("team/jimi-thumbnail.jpg", :alt => "Julian",
  :class => "person-picture img-thumbnail pull-left") %>

<div class="person-desc">
  <h3 class="person-name">Julian Mateu</h3>

  <div class="person-links">
    <a href=" https://ar.linkedin.com/in/juli%C3%A1n-mateu-24a873b2" target="_blank">
      <i class="fa fa-linkedin-square"></i>
    </a>
    <a href="https://github.com/julianmateu/" target="_blank">
      <i class="fa fa-github-square"></i>
    </a>
  </div>

  <div class="person-bio">
    <p>
      Julian is on his final year of the Masters of Science Degree in Electrical Engineering at the University of Buenos Aires.
      He is also a teaching assistant in a Modern Physics Course.
    </p>
    <p>
      He enjoys learning and reading about new things every day, and has curiosity and interest in science and technology in general.
      He applies his knowledge of math and algorithms working with Project Tango and developing Android applications, and he is 
      learning along the way.
    </p>
    <p>
       He also studies musical composition and plays the piano and the guitar. In his free time he loves gathering with friends,
       playing and listening to music, watching movies an reading books.
    </p>
  </div>
</div>
