---
  date: 05/11/2014
---

<%= image_tag("team/juan-thumbnail.jpg", :alt => "Juan",
  :class => "person-picture img-thumbnail pull-left") %>

<div class="person-desc">
  <h3 class="person-name">Juan Ubeira</h3>

  <div class="person-links">
    <a href="http://www.github.com/jubeira" target="_blank">
      <i class="fa fa-github-square"></i>
    </a>
  </div>

  <div class="person-bio">
    <p>
      Juan is an Electronics Engineer from the Instituto Tecnológico de Buenos Aires. When it comes 
      to software development, he can build code for a wide variety of devices, from low-level 
      hardware drivers for microcontrollers to applications in larger computer systems. He enjoys 
      learning and combining new technologies when working in a project.
    </p>

    <p>
      He spends most of his free time with his friends. He also likes playing paddle, training at
      the gym, and watching a good movie.
    </p>
  </div>
</div>
