---
title: Web developer for robotics - Jobs
layout: page
---

<h2>Web developer for robotics</h2>

<div class="row">
<div class="col-sm-8">
  <p>Ekumen is looking for software developers with experience in Web 
  front-end JavaScript to participate in the development of a first-of-its-kind
   robotics product. This project is part of greater efforts conducted jointly 
   with the creators of the technology, doing work that will have immediate 
   impact on real robots for an international audience. The selected candidate 
   will be part of a globally distributed team and will be responsible for the 
   development of client-side components and the user interface aspects of the 
   robotics system.
  </p>

  <p>We are looking for people passionate about technology with the desire to 
     learn, confront unusual challenges, and push their skills to the highest 
     level.
  </p>

  <p>The work environment is fast-paced, iterative and open. Active 
     participation is encouraged and rewarded. You will be working with the 
     latest generation of technology and immersed in a multi-cultural team of 
     highly-talented engineers and researchers.
  </p>
</div>

<div class="col-sm-4" id="job1">
</div>
</div>

<div class="row">
<div class="col-sm-4" id="job2">
</div>

<div class="col-sm-8">
  <h3>About you:</h3>

  <ul>
    <li>Have demonstrable knowledge of JavaScript, HTML and CSS. Extra points 
    if you have experience with Angular (Angular 2) and/or Polymer.</li>
    <li>Feel comfortable working with Linux.</li>
    <li>Love technology and enjoy getting your hands dirty creating new
      tech.</li>
    <li>Thrive in a fast-paced environment, working closely with smart
      colleagues on challenging technology problems.</li>
    <li>Enjoy learning new tools, frameworks, programming languages and
      paradigms.</li>
    <li>Can tackle mid-sized software development tasks independently and deal
      with ambiguous task assignments.</li>
    <li>Speak English fluently enough to work comfortably in an
      English-speaking environment.</li>
  </ul>
</div>
</div>

<div class="row">
<div class="col-sm-8">
  <h3>It would be awesome if you also (the more the better):</h3>

  <ul>
    <li>Have experience working the full stack of a Web application.</li>
    <li>Have experience with Android, C++ and/or python.</li>
    <li>Have experience with Docker and Git.</li>
    <li>Have experience using Gazebo and/or ROS.</li>
    <li>Have been actively contributing to open source projects.</li>
  </ul>
</div>

<div class="col-sm-4" id="job3">
</div>
</div>

<p>We will for sure also consider candidates that don't have experience with 
   these particular technologies but are eager to learn them. We take into 
   account software development experience, growth potential and cultural 
   match for our candidates. We’re a friendly, fun-loving bunch and expect 
   the same from you!
</p>

</br>

<p>
<b>
  If you'd like to join Ekumen, send us an email to
  <a href="mailto:jobs@ekumenlabs.com">jobs@ekumenlabs.com</a>. Tell us a bit
  about yourself, why you're interested in the position, and don’t forget to
  include a CV in English!
</b>
</p>

<div class="alert alert-success text-center">
This position is open to working in Ekumen's Buenos Aires office or remotely.
</div>
