---
title: Ekumen Privacy Policy
layout: page
priority: 1
---

<div class="row">
  <div class="col-md-12">
    <p>Ekumen is an international engineering boutique which provides
    advanced software development services to technology companies,
    focused mainly in robotics products. Our tools and applications are
    designed to make it easier to build robots and related software.
    </p>
    <h1>Android Applications Privacy Policy</h1>
    <p>This privacy policy defines how Ekumen, Inc. collects and uses personal and
    non-personal data in our mobile applications for Android available in the
    Google Play Store.
    </p>
    <h2>Personal Data:</h2>
    <ul>
      <li>Ekumen, Inc. respects your privacy rights and recognizes the importance of protecting any information collected about you.</li>
      <li>Ekumen, Inc. does not collect any personal data.</li>
    </ul>
    <h2>Non-personal Data:</h2>
    <ul>
      <li>Ekumen, Inc. does not collect any non-personal data.</li>
    </ul>
  </div>
</div>
